:root {
  --font-family-regular: 16px/1.6em "Open Sans", sans-serif;
  --color-font-family-regular: #2a2626;
  --white: #fff;
  --translucent: #d7ccc0;
  --light: #f5f4f0;
  --main: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --translucent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

body {
  width: 1440px;
}

header,
main,
footer {
  text-align: center;
  font: var(--font-family-regular);
  font-family: "Open Sans", sans-serif;
}

section > * {
  width: 1110px;
  left: 165px;
  top: 100px;
}

p {
  color: #2a2626;
}
h1,
h2,
h3 {
  line-height: 1.2em;
  font-family: "Neucha", cursive;
}

h1 {
  font-size: 72px;
}
h2 {
  font-size: 60px;
}
h3 {
  font-size: 34px;
}

header {
  position: relative;
}

.background-image::before {
  content: "";
  background-image: url(../img/background.png);
  background-color: #f5f4f0;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 914px;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1; /* тут должно быть на 90% прозрачность */
  z-index: -1;
}

.header-img {
  position: absolute;
  height: 525px;
  top: 55px;
  right: -270px;
}

.header-title {
  position: relative;
  width: 1138px;
  height: 258px;
  top: 100px;
  left: 165px;
}

.header-title h1 {
  margin: 0;
  text-align: left;
}

.orange {
  color: var(--main);
}

.header-text-one {
  position: absolute;
  width: 540px;
  height: 141px;
  top: 543px;
  left: 165px;
  text-align: left;
  color: #2a2626;
}

.header-text-two {
  position: absolute;
  width: 540px;
  height: 186px;
  top: 543px;
  left: 735px;
  text-align: left;
  color: #2a2626;
}

.header-a {
  margin-top: 30px;
  position: absolute;
  font-weight: 700;
  background-color: var(--main);
  padding: 12px 24px;
}

.header-a a {
  color: var(--white);
  text-decoration: none;
}

section {
  position: relative;
  width: 1440px;
  height: 914px;
  top: 914px;
}

.title-who-distortions {
  position: absolute;
  width: 1110px;
  height: 146px;
  top: 100px;
  left: 165px;
}

.title-who-distortions h1 {
  margin-bottom: 30px;
  margin-top: 0;
}

.title-who-distortions span {
  margin-bottom: 30px;
}
.video-who-distortions {
  position: relative;
  width: 919px;
  height: 569px;
  top: 429px;
  left: 261px;
}
.video {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.five-cognitive-distortions {
  width: 1440px;
  height: 1114px;
}

.blok-five-cognitive-distortions {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 350px);
  grid-template-rows: 150px, 150px;
  grid-gap: 20px;
  background: #42413c;
  width: 1110px;
  height: 691px;
  left: 165px;
  top: 200px;
  margin-bottom: 100px;
}

.five-cognitive-distortions::before {
  content: "";
  background-color: #42413c;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.five-cards h1 {
  font-size: 52px;
}
.five-cards {
  padding: 0 24px;
  background-color: #f5f4f0;
  text-align: left;
}
.five-cards-color {
  background: #42413c;
}

.a-five-cognitive-distortions {
  text-decoration: none;
}

.black {
  color: #42413c;
  margin-bottom: 40px;
  font-size: 64px;
  font-family: "Neucha", cursive;
  line-height: 1;
}

.h2-five-cognitive-distortions {
  font-size: 34px;
}

.effect {
  padding: 100px 0;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 30px;
  text-align: left;
  max-width: 1110px;
  left: 165px;
  top: 100px;
}

.p1-text-IKEA-effect {
  font-size: 24px;
  font-family: "Neucha", cursive;
  color: #908d8b;
  margin: 100px 0 20px;
}

.text-IKEA-effect h1 {
  margin: 0;
}
.p2-text-IKEA-effect {
  font-size: 34px;
  font-family: "Neucha", cursive;
  line-height: 1;
}

.the-title-phrase {
  background: #b09a81;
  padding: 5px;
  margin: 0px 0 20px;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  font-size: 14px;
}

.mp {
  top: 0;
  margin-bottom: 100px;
}

.Premature-optimization {
  background-color: rgba(176, 154, 129, 1);

  background-blend-mode: overlay;
}

.Premature-optimization * {
  color: #ffffff;
}

.color-phrase {
  background: #ffffff;
  color: #b09a81;
}

.p1-text-IKEA-effect {
  color: rgba(215, 204, 192, 1);
}
